<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rakam</title>
    <frameset cols="60%,40%" style="border: solid 10px bisque;">
        <frame src="html/frame_a.html" ></frame>
        <frameset  rows="30%,30%,40%">
        <frame src="html/frame_b.html" ></frame>
        <frame src="html/frame_c.html" ></frame>
        <frame src="html/frame_d.html" ></frame>
        </frameset>
    </frameset>
</head>
<body >
</body>
</html>